asyncio
aiohttp
async-lru
beautifulsoup4
dnspython
ffmpeg-python
gitpython
heroku3
httpx[http2]
lyricsgenius
motor
psutil
pytube
py-tgcalls==2.0.6
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
TgCrypto
urllib3
uvloop
flask
gunicorn
youtube-search-python
git+https://github.com/yt-dlp/yt-dlp@master
openai
kurigram==2.1.37
pykeyboard2
https://github.com/KSKOP69/youtube-search-python/archive/ksk.zip
git+https://github.com/Vivekkumar-IN/pykeyboard
py-yt-search>=0.2
youtube_search_python
